@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0;
    @apply p-0;
    @box-border;
  }
}
